<section id="about" class="about-user">
    <h2 class="title-heading">My Introduction</h2>
    <div class="user__info">
      <div class="user__pic">
        <div id="pic-boundary">
          <div class="profile-pic" > </div>
        </div>
      </div>
      <div class="user-desc">
          <div >
            <div ><p>Hello! I'm Ibrahim, a Front-End developer based in Tunisia.</p></div>
            <br>
            <div><p>I am passionate about almost everything related to technology and the internet. I enjoy learning new technology stacks. My interests range from learning Web/Mobile/Desktop app development to almost everything.
            </p></div>
            <div><p>While studying at university, I started freelancing a longside and worked with a friend for a while. I completed my graduatioin in June 2021, and I am open to work opportunities.</p></div>
          </div>
          <br />
          <p>Here are a few technologies I've been working with recently:</p>
          <br />
          <ul class="skills-list" >
            <li >Agular</li>
            <li >Firebase</li>
            <li >HTML and S(CSS)</li>
            <li >TypeScript</li>
            <li >Bootstrap</li>
            
            <li >Git & Github</li>
            
          </ul>
      </div>
    </div>
  </section>
  