<section >
    <div id="contact" class="contact">
        <h2 class="contact-title">Get In Touch</h2>
        <p>Right now I'm open to new oppurtunities and experiences. If you have any queries, feel free to contact me anytime.</p>
        <div class="btn-email">
            <a class="email-link" href="mailto:ibrahimwinns@gmail.com">Send mail</a>&nbsp;&nbsp;
            <a class="email-link" href="https://github.com/IbrahimLabrass">Github</a>&nbsp;&nbsp;
            <a class="email-link" href="https://www.linkedin.com/in/ibrahim-labrass/">LinkedIn</a>


        </div>
    </div>
</section>