<section class="main-section">
    <p class="sec__heading">Hi, my name is</p>
    <div class="heading">
      <h1 class="name__heading">Ibrahim Labrass.</h1>
      <h1 class="role__heading">I am a Front-End Developer.</h1>
    </div>
    <p class="sec__desc" >
      Based in Medenine, Tunisia. I try to keep up with the latest trends
      Passionate about learning new technologies, bringing ideas to life, 
      and working to build efficient and robust applications suited to the user’s needs. 
    </p><br>
    <div class="btn-container">
      <a class="btn" href="/assets/cv.pdf">My CV</a>
    </div>
  </section>
  